/* 
    Created on : 24-Jul-2016, 18:02:51
    Author     : robert
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
.talks-speake0 {
  font-weight: bold;
  font-style: italic; }

a.list-group-item.talk:focus {
  background-color: transparent !important;
  outline: 0 !important; }

#talks-filters {
  background-color: white !important;
  position: fixed !important;
  width: 30% !important;
  top: 214px !important;
  min-height: 180px !important; }

.talk-series-filter > .selectize-control > .selectize-input {
  width: 70% !important;
  margin-top: 15px !important;
  margin-left: 65px !important; }

.talk-series-filter > .selectize-control > .selectize-dropdown {
  margin-left: 65px !important;
  width: 70% !important; }

#talks-filters ul {
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0; }

#talks-filters ul li {
  color: #000;
  display: block;
  position: relative;
  float: left;
  width: 100%; }

#talks-filters ul li input[type=radio] {
  position: absolute;
  visibility: hidden; }

#talks-filters ul li input[type=radio]:checked ~ .check {
  border: 4px solid #1B75BB; }

#talks-filters ul li input[type=radio]:checked ~ .check::before {
  background: #1B75BB; }

#talks-filters ul li input[type=radio]:checked ~ label {
  color: #1B75BB; }

#talks-filters ul li label {
  display: block;
  position: relative;
  font-weight: 500;
  font-size: 1.3em;
  padding: 25px 25px 25px 80px;
  margin: 5px -15px;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear; }

#talks-filters ul li:hover label {
  color: #2DA9E0; }

#talks-filters ul li .check {
  box-sizing: initial;
  display: block;
  position: absolute;
  border: 4px solid #1B75BB;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }

#talks-filters ul li:hover .check {
  border: 4px solid #2DA9E0; }

#talks-filters ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 10px;
  width: 10px;
  top: 3px;
  left: 3px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear; }

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Oct-2016, 11:20:47
    Author     : Robert Barczyk <rb783@cam.ac.uk>
*/
.input-icon-left .glyphicon {
  left: 0px; }

.input-icon-left input {
  padding-left: 35px; }

.checkboxText {
  padding-left: 8px; }

.mapHeight {
  height: 800px !important; }

#sig-navigation > nav {
  margin: -27px 0px !important; }

#sig-navigation > nav > ul {
  margin: 0px !important; }

div.sig-map-image {
  padding: 5px 0px 10px 0px; }

img.sig-map-image {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.bs-callout-info {
  border-left-color: #1B75BB !important; }

.bs-callout-info h4 {
  color: #1B75BB !important; }

.bs-callout {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee;
  border-image: none;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  margin: 20px 0;
  padding: 20px; }

@media only screen and (max-width: 1200px) {
  .mobile-nopadding-from-md {
    padding: 0 !important; } }

/* parrent */
.admin-panel-sidebar {
  padding-top: 22px;
  background-color: white; }

/* all links */
.admin-panel-sidebar .nav > li > a {
  color: #999;
  padding: 4px 20px 4px 0;
  font-size: 1em;
  font-weight: 400;
  border-right: transparent 1px solid;
  display: block !important;
  word-wrap: break-word; }

#admin-side-bar > ul {
  padding-right: 0 !important; }

/* all links in hover and focus */
.admin-panel-sidebar .nav > li > a:hover,
.admin-panel-sidebar .nav > li > a:focus {
  background-color: transparent !important; }

/* link on mouse over */
.admin-panel-sidebar .nav > li > a:hover {
  border-right: #1B75BB 1px solid; }

/* nested links - submenu */
.admin-panel-sidebar .nav .nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 15px;
  font-size: 0.85em; }

/* active links - menu items */
.admin-panel-sidebar .nav > li > a.active {
  color: #1B75BB !important;
  border-right: #1B75BB 2px solid; }

/* hide all (inactive) nested list */
.admin-panel-sidebar .nav ul.nav {
  display: none; }

/* show active nested list */
.admin-panel-sidebar .nav > .active > ul.nav {
  display: block !important; }

/* collapsed menu item ovveride*/
#admin-nav-mobile {
  margin-right: 0 !important;
  margin-top: 8px !important;
  background-color: transparent;
  border: 1px solid #ddd;
  text-align: left; }

/* Google font */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333333; }

/* View Helpers */
.line-break {
  margin-bottom: 1em; }

.display-table-cell {
  display: table-cell !important; }

.display-none {
  display: none; }

.icon-item-padding {
  padding-right: 5px; }

.line-break-half {
  margin-bottom: 0.5em !important; }

.line-break-half-top {
  margin-top: 0.5em !important; }

.line-break-dbl {
  margin-bottom: 2em; }

.line-break-large {
  margin-bottom: 4em; }

.line-break-top {
  margin-top: 1em; }

.line-break-dbl-top {
  margin-top: 2em !important; }

.display-block {
  display: block; }

.padding {
  padding: 15px; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.nopadding-left {
  padding-left: 0 !important; }

.nosidepadding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.noborder {
  border: 0 !important; }

.noborderradius {
  border-radius: 0 !important; }

.no-li-style {
  list-style-type: none !important;
  padding: 0 !important; }

.jumbotron p {
  font-size: 17px; }

/* disable iOS to style text fileds and buttons */
input[type="submit"], input[type="button"],
input[type="text"], textarea, button {
  -webkit-appearance: none; }

.axis-y {
  overflow: hidden;
  overflow-y: auto; }

.map-pointer {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  border: solid white 1px;
  background-image: radial-gradient(circle farthest-corner at 45px 45px, red, #a94442); }

/* Important! without this margin the custom map pointer is offset */
.custom-marker.map-pointer {
  margin-top: 14px; }

.nomargin {
  margin: 0 !important; }

.nomargin-top {
  margin-top: 0 !important; }

.nomargin-bottom {
  margin-bottom: 0 !important; }

.nomargin-left {
  margin-left: 0 !important; }

.nomargin-right {
  margin-right: 0 !important; }

#google_calendar > iframe {
  width: 100% !important;
  max-height: 100% !important; }

/********************************************************************
  NAVIGATION
********************************************************************/
/**************
ADMIN
*****************/
/* Font in Top Naviation Bar */
.navbar-nav > li > a {
  font-size: 1.2em; }

#username {
  display: block;
  padding: 15px; }

/* Top Navigation Bar style overide */
.navbar-custom {
  border-radius: 0 !important;
  background-color: white; }

/* To Navigation dropdown menu style overide */
.submenu-icons {
  margin-right: 8px; }

/* Style to "glue" navbar to the top */
#menu-bar.affix {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99999; }

#menu-bar.affix + .container-fluid {
  padding-top: 50px; }

#menu-bar.affix > nav > .container-fluid > #top-nav-bar > .nav.navbar-nav {
  margin-top: 17px !important; }

#menu-bar.affix > nav > .container-fluid > .navbar-header > .navbar-brand > img {
  height: 60px !important; }

.navbar-header {
  height: auto !important; }

.navbar-brand {
  padding: 0px 15px !important;
  height: auto !important; }

.nav.navbar-nav {
  margin-top: 35px !important; }

.navbar-default
.navbar-nav > li > a {
  color: #000 !important; }

.navbar-default
.navbar-nav > li > a:focus,
.navbar-default
.navbar-nav > li > a:hover {
  color: #1B75BB !important; }

.navbar-default
.navbar-nav > .active > a,
.navbar-default
.navbar-nav > .active > a:focus,
.navbar-default
.navbar-nav > .active > a:hover {
  color: #1B75BB !important;
  background-color: transparent !important; }

.navbar-toggle {
  margin-top: 23px !important; }

/********************************************************************
  TOP 
********************************************************************/
#top-content {
  height: 130px;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat; }

.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px; }

/********************************************************************
  MAIN CONTENT
********************************************************************/
#main-content {
  margin-top: 30px;
  margin-bottom: 150px; }

/* custom red hyperlink */
.red-link, .red-link:hover, .red-link:active, .red-link:visited {
  color: red;
  text-decoration: none; }

.badge-success {
  background-color: #5cb85c; }

/********************************************************************
  CONTACT
********************************************************************/
/********************************************************************
    SIGNUP
********************************************************************/
.signup {
  background-color: #d9d9d9;
  min-height: 260px;
  padding-top: 30px; }

.btn-signup:hover, .btn-signup:active {
  background-color: white !important; }

/********************************************************************
    FOOTER 
********************************************************************/
footer {
  background-color: #262626;
  min-height: 150px;
  color: #ccc;
  padding-top: 30px;
  padding-bottom: 30px; }

.footer-credits {
  padding-top: 20px; }

/* hyperlinks in footer */
.footer-color, .footer-color:active, .footer-color:visited, .footer-color:hover, footer-color:link {
  color: #ccc;
  text-decoration: none; }

.footer-color:hover {
  color: #fff; }

@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .hide-this {
    display: none; } }

@media only screen and (max-width: 1000px) and (min-width: 0px) {
  .hide-this {
    display: none; }
  #top-nav-bar > .nav.navbar-nav {
    margin-top: 17px !important; }
  .navbar-brand > img {
    height: 60px !important; }
  #talks-filters {
    position: relative !important;
    width: 98.5% !important;
    top: 0 !important;
    min-height: 150px !important; }
  #talks-col {
    height: 58vh !important; } }

.text-left {
  text-align: left !important; }

.margin-right {
  margin-right: 1em; }

.margin-right-dbl {
  margin-right: 2em; }

.margin-left {
  margin-left: 1em; }

.margin-left-dbl {
  margin-left: 2em; }

.btn-primary2 {
  background: #337ab7 none repeat scroll 0 0;
  border-radius: 5px;
  color: #fff !important;
  font-weight: bold;
  display: inline-block;
  line-height: 1.6;
  margin-right: 20px;
  margin-top: 20px;
  outline: 0 none !important;
  padding: 15px;
  text-align: center; }

.btn-primary2:hover {
  background-color: #275d8b;
  transition: background-color 500ms linear 0s;
  text-decoration: none !important; }

.add-shadow {
  box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.45) !important;
  outline: 0 none !important; }

.full-width {
  width: 100% !important; }

.glyphicon.glyphicon-large {
  font-size: 30px; }

.square {
  width: 20%;
  height: 12vw;
  min-width: 130px;
  min-height: 130px; }

.relative {
  position: relative; }

.centered {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%); }

.bold {
  font-weight: bold !important; }

.larger {
  font-size: larger !important; }

.nopadding-top {
  padding-top: 0 !important; }

.clear-both {
  clear: both; }

.text-no-decoration {
  text-decoration: none !important; }

.pull-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 48%;
  right: 0;
  margin: auto; }

.thumb {
  max-width: 150px !important;
  max-height: 150px !important; }

.sig-big-image {
  width: 100%;
  margin-top: 20px; }

.url-no-color {
  color: #333333 !important;
  text-decoration: none !important; }

/*# sourceMappingURL=main.css.map */
