/* 
    Created on : 24-Jul-2016, 18:02:51
    Author     : robert
*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
.talks-speaker {
  font-weight: bold;
  font-style: italic; }

/* Google font */
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #333333; }

/* View Helpers */
.line-break {
  margin-bottom: 1em; }

.line-break-dbl {
  margin-bottom: 2em; }

.line-break-top {
  margin-top: 1em; }

.line-break-dbl-top {
  margin-top: 2em; }

.display-block {
  display: block; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.nosidepadding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.noborder {
  border: 0 !important; }

.noborderradius {
  border-radius: 0 !important; }

.jumbotron p {
  font-size: 17px; }

/* disable iOS to style text fileds and buttons */
input[type="submit"], input[type="button"],
input[type="text"], textarea, button {
  -webkit-appearance: none; }

/********************************************************************
  NAVIGATION
********************************************************************/
/**************
ADMIN
*****************/
#adminnav > li.active > a {
  background-color: none !important; }

#adminnav {
  padding-top: 20px; }

/* Font in Top Naviation Bar */
.navbar-nav > li > a {
  font-size: 1.2em; }

#username {
  display: block;
  padding: 15px; }

/* Top Navigation Bar style overide */
.navbar-custom {
  border-radius: 0 !important;
  background-color: white; }

/* To Navigation dropdown menu style overide */
.submenu-icons {
  margin-right: 8px; }

/* Style to "glue" navbar to the top */
.affix {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 99999; }

.affix + .container-fluid {
  padding-top: 50px; }

/********************************************************************
  TOP 
********************************************************************/
#top-content {
  height: 130px;
  height: 130px;
  background-position: center;
  background-repeat: no-repeat; }

.logo {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100px; }

/********************************************************************
  MAIN CONTENT
********************************************************************/
#main-content {
  margin-top: 50px;
  margin-bottom: 150px; }

/* custom red hyperlink */
.red-link, .red-link:hover, .red-link:active, .red-link:visited {
  color: red;
  text-decoration: none; }

.badge-success {
  background-color: #5cb85c; }

/********************************************************************
  CONTACT
********************************************************************/
/********************************************************************
    SIGNUP
********************************************************************/
.signup {
  background-color: #d9d9d9;
  min-height: 260px;
  padding-top: 30px; }

.btn-signup:hover, .btn-signup:active {
  background-color: white !important; }

/********************************************************************
    FOOTER 
********************************************************************/
footer {
  background-color: #262626;
  min-height: 150px;
  color: #ccc;
  padding-top: 30px;
  padding-bottom: 30px; }

.footer-credits {
  padding-top: 20px; }

/* hyperlinks in footer */
.footer-color, .footer-color:active, .footer-color:visited, .footer-color:hover, footer-color:link {
  color: #ccc;
  text-decoration: none; }

.footer-color:hover {
  color: #fff; }

/* Pictures for carousel 
#car1 {
    background-image                    : url("../pics/pic1.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}

#car2 {
    background-image                    : url("../pics/pic2.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}

#car3 {
    background-image                    : url("../pics/pic3.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}

#car4 {
    background-image                    : url("../pics/pic4.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}*/
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .hide-this {
    display: none; } }

@media only screen and (max-width: 1000px) and (min-width: 0px) {
  .hide-this {
    display: none; } }

.text-left {
  text-align: left !important; }

.margin-right {
  margin-right: 1em; }

.margin-right-dbl {
  margin-right: 2em; }

.margin-left {
  margin-left: 1em; }

.margin-left-dbl {
  margin-left: 2em; }

/*# sourceMappingURL=main.css.map */
