/* 
    Created on : 24-Jul-2016, 18:02:51
    Author     : robert
*/

/* Google font */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

/* To seperate title / heading from the content below - br */
.line-break {
    margin-bottom                       : 1em;
}

.line-break-dbl {
    margin-bottom                       : 2em;
}

/********************************************************************
    NAVIGATION
********************************************************************/
.navbar {
    border-radius                       : 0 !important;
    
}
/*
.navbar-custom {
    background-color: white;
    border:none;
}
*/

.submenu-icons {
    margin-right                        : 8px;
}

.affix {
    top: 0;
    width: 100%;
    position: fixed;
    z-index:99999;
}

.affix + .container-fluid {
      padding-top: 50px;
    }

/********************************************************************
    TOP 
********************************************************************/

#top-content {
    padding-top: 10px;
    height:150px;
    
}
.logo {
    height: 100px;
}


#main-content {
    margin-top                          : 50px;
    margin-bottom: 150px;
}
.red-link, .red-link:hover, .red-link:active, .red-link:visited {
    color :red;
    text-decoration: none;
}

/********************************************************************
    CONTACT
********************************************************************/
#contact-form .control-label {
    text-align: left !important;
}
#contact-form textarea {
    height: 12em;
}

/*.breadcrumb {
    background-color: inherit;
    padding-left: 0;
}*/

/********************************************************************
    SIGNUP
********************************************************************/

.signup {
    background-color                    : #d9d9d9;
    min-height                          : 250px;
    padding-top                         : 30px;
}

.btn-signup:hover, .btn-signup:active {
    background-color: white !important;
    
}
/********************************************************************
    FOOTER 
********************************************************************/

footer {
    background-color                    : #262626;
    min-height                          : 250px;
    color                               : #ccc;
    padding-top                         : 40px
    
}

.footer-credits {
    padding-top                         : 50px;
}

/* hyperlinks in footer */
.footer-color, .footer-color:active, .footer-color:visited, .footer-color:hover, footer-color:link {
    color                               : #ccc;
    text-decoration                     : none;
}

.footer-color:hover {
    color: #fff;
}




/* Pictures for carousel 
#car1 {
    background-image                    : url("../pics/pic1.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}

#car2 {
    background-image                    : url("../pics/pic2.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}

#car3 {
    background-image                    : url("../pics/pic3.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}

#car4 {
    background-image                    : url("../pics/pic4.jpg");    
    height                              : 300px;
    background-repeat                   : no-repeat;
}*/