/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Oct-2016, 11:20:47
    Author     : Robert Barczyk <rb783@cam.ac.uk>
*/

.input-icon-left .glyphicon {
  left: 0px; 
}

.input-icon-left input {
  padding-left: 35px;
}

.checkboxText {
    padding-left: 8px;
}