/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Mar-2017, 16:58:24
    Author     : Robert Barczyk <rb783@cam.ac.uk>
*/

#google_calendar > iframe {
    width: 100% !important;
    max-height: 100% !important;
}