.talks-speaker {
    font-weight: bold;
    font-style: italic;
}

#talks-filters {
    position: fixed !important;
    width: 30% !important;
    top: 214px !important;
    min-height: 180px !important;
}