html,body{height:100%}
body {margin:0; padding:0; background:#333 url(/pictures/sw_page_bg.png); font-family:Helvetica, Arial, sans-serif; font-size:16px;}
/* custom fonts */
@font-face {
  font-family: 'eurof55-webfont';
  src: url('/build/fonts/gallery-fonts/eurof55-webfont.eot');
  src: local('☺'), url('/build/fonts/gallery-fonts/eurof55-webfont.woff') format('woff'), url('/build/fonts/gallery-fonts/eurof55-webfont.ttf') format('truetype'), url('/build/fonts/gallery-fonts/eurof55-webfont.svg#webfont8xigBfG2') format('svg');
}
@font-face {
  font-family: 'eurof35-webfont';
  src: url('/build/fonts/gallery-fonts/eurof35-webfont.eot');
  src: local('☺'), url('/build/fonts/gallery-fonts/eurof35-webfont.woff') format('woff'), url('/build/fonts/gallery-fonts/eurof35-webfont.ttf') format('truetype'), url('/build/fonts/gallery-fonts/eurof35-webfont.svg#webfont8xigBfG2') format('svg');
}
@font-face {
  font-family: 'graublauweb-webfont';
  src: url('/build/fonts/gallery-fonts/graublauweb-webfont.eot');
  src: local('☺'), url('/build/fonts/gallery-fonts/graublauweb-webfont.woff') format('woff'), url('/build/fonts/gallery-fonts/graublauweb-webfont.ttf') format('truetype'), url('/build/fonts/gallery-fonts/graublauweb-webfont.svg#webfont8xigBfG2') format('svg');
}
.clear{clear:both;}
a:link,a:visited,a:hover{color:#ddd;}
a:hover{color:#fff; text-decoration:none;}
#bg{position:fixed; left:585px; top:0; width:100%; height:100%;}
#bgimg{display:none; cursor:pointer; -ms-interpolation-mode: bicubic;} /* special IE fix for resized images */
#preloader{position:absolute; z-index:2; width:140px; padding:20px; top:20px; left:50px; background:#000; color:#666; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; font-size:16px; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#preloader img{margin-right:20px;}
//#toolbar{display:inline-block; padding:4px 15px; margin:20px 15px; background:#262626 url(/pictures/sw_btn_bg.png) repeat-x; -moz-border-radius:8px; -khtml-border-radius:8px; -webkit-border-radius:8px; border-radius:8px; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; font-size:12px; color:#fff; cursor:pointer;}
#outer_container{position:relative; margin:0; width:700px; padding:0; z-index:2; background:url(/pictures/empty.gif);} /* fucking IE needs a background value to understand hover area */
#customScrollBox{position:relative;}
#customScrollBox .container{position:relative; width:585px; top:0; float:left;}
#customScrollBox .content{clear:both;}
#customScrollBox .content h1{padding:5px; margin:10px; color:#fff; font-family:eurof55-webfont, Helvetica, Arial, sans-serif; font-size:48px;}
#customScrollBox .content h2{padding:5px; margin:10px 10px 0 10px; color:#fff; font-family:eurof35-webfont, Helvetica, Arial, sans-serif; font-size:24px;}
#customScrollBox .content p{padding:5px; margin:0 10px 10px 10px; color:#ddd; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif; line-height:26px;}
.light{font-family:eurof35-webfont, Helvetica, Arial, sans-serif;}
.grey{color:#999;}
.lightgrey{color:#ddd;}
.s36{font-size:36px;}
.s24{font-size:24px;}
#customScrollBox a.thumb_link{position:relative; margin:0 0 1px 1px; display:block; float:left;}
#customScrollBox img{border:none;}
.thumb{width:150px;height:150px;}
#customScrollBox a.thumb_link .selected{position:absolute; top:0; left:0; width:145px; height:91px; display:none;}
#arrow_indicator{position:absolute; cursor:pointer; width:50px; padding:10px; top:50%; margin-top:-25px; left:20px; background:url(/pictures/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:none;}
#nextimage_tip{position:fixed; z-index:1; padding:0 20px; line-height:40px; color:#fff; height:40px; top:50%; margin-top:-20px; right:20px; background:url(/pictures/sw_transparent_black_bg.png); -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; display:none; font-family:graublauweb-webfont, Helvetica, Arial, sans-serif;}
.with_border{border:1px solid #000;}
.with_shadow{-moz-box-shadow:0 0 40px #000; -webkit-box-shadow:0 0 40px #000; box-shadow:0 0 40px #000};
#customScrollBox a.thumb_link .play-layer{position:absolute; top:50px; left:50px; width:50px; height:50px; background:url(/pictures/sw_thumb_play.png) no-repeat; display:block;}
