/* 
    Created on : 24-Jul-2016, 18:02:51
    Author     : robert
*/

@import "variables";
@import "talks";
@import "forms";
@import "sig";
@import "admin_nav";


/* Google font */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body {
  font-family                         : 'Lato', sans-serif;
  font-weight                         : 400;
  color                               : #333333;
}
/* View Helpers */
.line-break {
  margin-bottom                       : 1em;
}
.display-table-cell {
    display: table-cell !important;
}
.display-none {
    display                             : none;
}
.icon-item-padding {
    padding-right: 5px
}
.line-break-half {
  margin-bottom                       : 0.5em !important;
}

.line-break-half-top {
  margin-top                       : 0.5em !important;
}

.line-break-dbl {
  margin-bottom                       : 2em;
}
.line-break-large {
  margin-bottom                       : 4em;
}
.line-break-top {
  margin-top                          :1em;
}
.line-break-dbl-top {
  margin-top                          : 2em !important;
}
.display-block {
  display                             : block;
}

.padding {
    padding: 15px;
}

.nopadding {
   padding                              : 0 !important;
   margin                               : 0 !important;
}
.nopadding-left {
    padding-left : 0 !important;
}
.nosidepadding {
    padding-left: 0! important;
    padding-right: 0! important;
}
.noborder {
    border: 0 !important;
}

.noborderradius {
    border-radius: 0 !important;
}

.no-li-style {
    list-style-type: none !important;
    padding: 0 !important;
}

.jumbotron p {
  font-size:17px;
}

/* disable iOS to style text fileds and buttons */
input[type="submit"], input[type="button"],
input[type="text"], textarea, button {
    -webkit-appearance                  : none;
}

.axis-y {
    overflow: hidden; 
    overflow-y: auto;
}

.map-pointer {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    border: solid white 1px;
    background-image: radial-gradient(circle farthest-corner at 45px 45px , red, #a94442);
}

/* Important! without this margin the custom map pointer is offset */
.custom-marker.map-pointer {
    margin-top: 14px;
}

.nomargin {
    margin: 0 !important;
}

.nomargin-top {
    margin-top: 0 !important;
}

.nomargin-bottom {
    margin-bottom: 0 !important;
}

.nomargin-left {
    margin-left: 0 !important;
}

.nomargin-right {
    margin-right: 0 !important;
}

/********************************************************************
  NAVIGATION
********************************************************************/

/**************
ADMIN
*****************/

/* Font in Top Naviation Bar */
.navbar-nav>li>a {
  font-size                             : 1.2em;
}
#username {
  display                               : block;
  padding                               : 15px;
}
/* Top Navigation Bar style overide */
.navbar-custom {
  border-radius                       : 0 !important;
  background-color                    : white;
}
/* To Navigation dropdown menu style overide */
.submenu-icons {
    margin-right                      : 8px;
}
/* Style to "glue" navbar to the top */
#menu-bar.affix {
  top                                 : 0;
  width                               : 100%;
  position                            : fixed;
  z-index                             : 99999;
}
#menu-bar.affix + .container-fluid {
  padding-top                         : 50px;
}

#menu-bar.affix > nav > .container-fluid > #top-nav-bar > .nav.navbar-nav {
    margin-top: 17px !important;
}

#menu-bar.affix > nav > .container-fluid > .navbar-header > .navbar-brand > img {
    height: 60px !important;
}

.navbar-header {
    height: auto !important;
}

.navbar-brand {
    padding: 0px 15px !important;
    height: auto !important;
}

.nav.navbar-nav {
    margin-top: 35px !important;
}

.navbar-default
.navbar-nav > li > a {
    color: #000 !important;
}

.navbar-default
.navbar-nav > li > a:focus,
.navbar-default
.navbar-nav > li > a:hover {
    color: $ukfn-darkblue !important;
}

.navbar-default
.navbar-nav > .active > a,
.navbar-default
.navbar-nav > .active > a:focus,
.navbar-default
.navbar-nav > .active > a:hover {
    color: $ukfn-darkblue !important;
    background-color: transparent !important;
}

.navbar-toggle {
    margin-top: 23px !important;
}

/********************************************************************
  TOP 
********************************************************************/

#top-content {
  height                              : 130px;  
  height                              : 130px;
	background-position                 : center; 
  background-repeat                   : no-repeat;
}
.logo {
  margin-top                          : 10px;
  margin-bottom                       : 10px;
  height                              : 100px;
  
}


/********************************************************************
  MAIN CONTENT
********************************************************************/

#main-content {
  margin-top                          : 30px;
  margin-bottom                       : 150px;
}
/* custom red hyperlink */
.red-link, .red-link:hover, .red-link:active, .red-link:visited {
  color                               : red;
  text-decoration                     : none;
}

.badge-success {
  background-color                    : #5cb85c;
}


/********************************************************************
  CONTACT
********************************************************************/


/********************************************************************
    SIGNUP
********************************************************************/

.signup {
  background-color                    : $light-grey;
  min-height                          : 260px;
  padding-top                         : 30px;
}

.btn-signup:hover, .btn-signup:active {
    background-color: white !important;
    
}
/********************************************************************
    FOOTER 
********************************************************************/

footer {
  background-color                    : #262626;
  min-height                          : 150px;
  color                               : #ccc;
  padding-top                         : 30px;
  padding-bottom                      : 30px; 
}

.footer-credits {
  padding-top                         : 20px;
}

/* hyperlinks in footer */
.footer-color, .footer-color:active, .footer-color:visited, .footer-color:hover, footer-color:link {
    color                               : #ccc;
    text-decoration                     : none;
}

.footer-color:hover {
    color: #fff;
}

@media only screen and (max-width: 1400px) and (min-width:1200px) {
  .hide-this {
    display: none;
  }
}

@media only screen and (max-width: 1000px) and (min-width:0px) {
  .hide-this {
    display: none;
  }
  
  #top-nav-bar > .nav.navbar-nav {
    margin-top: 17px !important;
  }

  .navbar-brand > img {
    height: 60px !important;
  }
  
  #talks-filters {
      position: relative !important;
      width: 98.5% !important;
      top: 0 !important;
      min-height: 150px !important;
  }
  
  #talks-col {
      height: 58vh !important;
  }
}

.text-left {
  text-align: left !important;
}

.margin-right {
  margin-right: 1em;
}

.margin-right-dbl {
  margin-right: 2em;
}

.margin-left {
  margin-left: 1em;
}

.margin-left-dbl {
  margin-left: 2em;
}

.btn-primary2 {
    background: #337ab7 none repeat scroll 0 0;
    border-radius: 5px;
    color: #fff !important;
    font-weight: bold;
    display: inline-block;
    line-height: 1.6;
    margin-right: 20px;
    margin-top: 20px;
    outline: 0 none !important;
    padding: 15px;
    text-align: center;
}

.btn-primary2:hover {
    background-color: #275d8b;
    transition: background-color 500ms linear 0s;
    text-decoration: none !important;    
}

.add-shadow {
    box-shadow: 0 12px 25px 0 rgba(0, 0, 0, 0.45) !important;
    outline: 0 none !important;
}

.full-width {
    width: 100% !important;
}

.glyphicon.glyphicon-large {
    font-size: 30px;
}

.square {
    width: 20%;
    height: 12vw;
    min-width: 130px;
    min-height: 130px;
}

.relative {
    position: relative;
}

.centered {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.bold {
    font-weight: bold !important;
}

.larger {
    font-size: larger !important;
}

.nopadding-top {
   padding-top: 0 !important;
}

.clear-both {
    clear: both;
}

.text-no-decoration {
    text-decoration: none !important;
}